In [1]:
import pandas as pd 
  
df = pd.read_excel("National+education+cost+data.xlsx") 
print(df)

   TABLE CP-1. Average Tuition and Fees (Unweighted) in Current Dollars and in 2023 Dollars, 1986-87 to 2023-24  \
0                                                 NaN
1                                                 NaN
2                                               86-87
3                                               87-88
4                                               88-89
5                                               89-90
6                                               90-91
7                                               91-92
8                                               92-93
9                                               93-94
10                                              94-95
11                                              95-96
12                                              96-97
13                                              97-98
14                                              98-99
15                                              99-00
16                                              00-01
17                                              01-02
18                                              02-03
19                                              03-04
20                                              04-05
21                                              05-06
22                                              06-07
23                                              07-08
24                                              08-09
25                                              09-10
26                                              10-11
27                                              11-12
28                                              12-13
29                                              13-14
30                                              14-15
31                                              15-16
32                                              16-17
33                                              17-18
34                                              18-19
35                                              19-20
36                                              20-21
37                                              21-22
38                                              22-23
39                                              23-24
40  NOTE: Average tuition and fee prices reflect i...
41  SOURCE: College Board, Annual Survey of Colleges.
42           This table was prepared in October 2023.

            Unnamed: 1        Unnamed: 2                   Unnamed: 3  \
0   In Current Dollars               NaN                          NaN
1      Public Two-Year  Public Four-Year  Private Nonprofit Four-Year
2                  640              1260                         5520
3                  720              1420                         5930
4                  800              1520                         6760
5                  850              1640                         7090
6                  950              1800                         7790
7                 1130              2070                         8280
8                 1100              2260                         8940
9                 1200              2430                         9400
10                1270              2590                         9990
11                1400              2740                        10530
12                1480              2880                        11170
13                1530              3040                        11810
14                1550              3160                        12310
15                1600              3280                        12950
16                1700              3380                        13770
17                1750              3610                        14900
18                1880              3950                        15660
19                2070              4430                        16290
20                2240              4850                        17290
21                2370              5170                        18230
22                2460              5450                        19360
23                2460              5880                        19850
24                2550              6270                        21160
25                2720              6700                        22170
26                2890              7170                        23170
27                3110              7690                        24010
28                3290              8030                        24770
29                3400              8220                        25600
30                3520              8480                        26470
31                3610              8710                        27380
32                3700              8980                        28700
33                3790              9250                        30040
34                3900              9470                        30790
35                4000              9750                        31820
36                4070              9860                        32410
37                4130             10020                        33010
38                4220             10200                        34210
39                4330             10410                        35130
40                 NaN               NaN                          NaN
41                 NaN               NaN                          NaN
42                 NaN               NaN                          NaN

    Unnamed: 4    Trends in College Pricing 2023
0          NaN  research.collegeboard.org/trends
1          NaN                               NaN
2          NaN                               NaN
3          NaN                               NaN
4          NaN                               NaN
5          NaN                               NaN
6          NaN                               NaN
7          NaN                               NaN
8          NaN                               NaN
9          NaN                               NaN
10         NaN                               NaN
11         NaN                               NaN
12         NaN                               NaN
13         NaN                               NaN
14         NaN                               NaN
15         NaN                               NaN
16         NaN                               NaN
17         NaN                               NaN
18         NaN                               NaN
19         NaN                               NaN
20         NaN                               NaN
21         NaN                               NaN
22         NaN                               NaN
23         NaN                               NaN
24         NaN                               NaN
25         NaN                               NaN
26         NaN                               NaN
27         NaN                               NaN
28         NaN                               NaN
29         NaN                               NaN
30         NaN                               NaN
31         NaN                               NaN
32         NaN                               NaN
33         NaN                               NaN
34         NaN                               NaN
35         NaN                               NaN
36         NaN                               NaN
37         NaN                               NaN
38         NaN                               NaN
39         NaN                               NaN
40         NaN                               NaN
41         NaN                               NaN
42         NaN                               NaN