In [65]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("../../../data/tuition.csv")
import warnings
warnings.filterwarnings("ignore")


df.rename({"Academic Year": "Year"}, axis=1, inplace=True)
def replace_year(x):
    x=x.strip()
    current = x[:4]
    return current


df['Year'] = df['Year'].apply(replace_year)
df['Year'] = pd.to_datetime(df['Year']).dt.year
# df.dtypes
df = df.sort_values(by=["Year"]).reset_index(drop=True)
df.tail()

,Year,University of Minnesota Twin-Cities,Minnesota State 4-year universities,Minnesota 2-year Colleges,Private 4-year colleges
45,2015,13840.0,8139.0,5391.0,35726.0
46,2016,14224.0,8179.0,5358.0,37075.0
47,2017,14488.0,8484.0,5413.0,38087.0
48,2018,14760.0,8521.0,5419.0,39567.0
49,2019,15142.0,8807.0,5557.0,42533.0

In [66]:
df2 = pd.read_csv("../../../data/National_education_cost/CP1.csv")
df2.rename({"Unnamed: 0": "Year"}, axis=1, inplace=True)
def replace_year(x):
    current = x[:2]
    if current[0] in ["8","9"]: return "19"+current
    else: return "20"+current
df2['Year'] = df2['Year'].apply(replace_year)
df2['Year'] = pd.to_datetime(df2['Year']).dt.year
df2.tail()
#y = -207884.61 + 104.90 * x
#-543595.17 + 273.92 * x
#-1633963.62 + 824.53 * x

    Year  Public Two-Year  Public Four-Year  Private Nonprofit Four-Year
33  2019           4000.0            9750.0                      31820.0
34  2020           4070.0            9860.0                      32410.0
35  2021           4130.0           10020.0                      33010.0
36  2022           4220.0           10200.0                      34210.0
37  2023           4330.0           10410.0                      35130.0

In [67]:
# df2.set_index('Year', inplace=True)

In [68]:

def your_thing(data: pd.DataFrame, df, target, target_):
    train_data, test_data = data[0:int(len(data)*0.7)], data[int(len(data)*0.7):]
    # plt.figure(figsize=(16,8))
    # plt.grid(True)
    # plt.xlabel('Dates')
    # plt.ylabel('Public Two-Year Prices')
    # plt.plot(data[target], 'green', label='Train data')
    # plt.plot(test_data[target], 'blue', label='Test data')
    # plt.legend()


    from pandas import Series
    from matplotlib import pyplot
    from statsmodels.tsa.ar_model import AR
    from sklearn.metrics import mean_squared_error
    from pandas import Series
    from matplotlib import pyplot
    from statsmodels.tsa.ar_model import AutoReg
    from sklearn.metrics import mean_squared_error
    # target = target
    train_ar = train_data[target]
    test_ar = test_data[target]
    train_ar = train_data[target]
    test_ar = test_data[target]
    # train autoregression
    model = AutoReg(train_ar, lags=1)
    model_fit = model.fit()
    window = len( model_fit.ar_lags)
    coef = model_fit.params
    # walk forward over time steps in test
    coef

    # history = train_ar[len(train_ar)-window:]
    history = df[target_][len(df)-window:]
    # print(history)
    history = [history.iloc[i] for i in range(len(history))]
    history

    predictions = list()
    for t in range(5):
        length = len(history)
        lag = [history[i] for i in range(length-window,length)]
        yhat = coef[0]
        for d in range(window):
            yhat += coef[d+1] * lag[window-d-1]
        obs = test_ar.iloc[t]
        predictions.append(yhat)
        
        history.append(obs)
    print(predictions)

In [69]:
target = ['Public Two-Year', 'Public Four-Year', 'Private Nonprofit Four-Year']
target_ = ['University of Minnesota Twin-Cities','Minnesota State 4-year universities','Minnesota 2-year Colleges','Private 4-year colleges']
your_thing(df2, df,target[0], target_[2])

[5795.301665273261, 3447.307382843695, 3561.2374097811685, 3685.524711894776, 3778.740188479981]

In [70]:
your_thing(df2, df,target[1], target_[0])

[16167.296170574287, 8583.72331446894, 8786.321576935197, 9063.561304520601, 9308.811832769226]

In [73]:
your_thing(df2, df,target[2], target_[2])

[6061.712925904518, 25864.18565959616, 26719.65083260215, 27616.34324286144, 28554.26289037403]