In [337]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df_salary = pd.read_csv("../../data//salary_potential.csv")
df_two_years = pd.read_csv("../../data/National_education_cost/CP3-pub-2y-current-dollars.csv")
df_four_years = pd.read_csv("../../data/National_education_cost/CP3-pub-4y-current-dollars.csv")

import warnings
warnings.filterwarnings("ignore")

df.head()

,State,early_career_pay,mid_career_pay,Tuition-four years,Tuition-two years
0,Alabama,44992.000000,81592.000000,8636.55,3967.7690
1,Arizona,50228.571429,90642.857143,9129.60,2212.8455
2,Arkansas,44110.526316,79242.105263,7356.45,3057.0030
3,California,67232.000000,123976.000000,8140.95,1174.2860
4,Colorado,51857.894737,93257.894737,8687.45,3696.8895

In [338]:
def get_data_ready(data: pd.DataFrame):
    data = data.rename({
        "In Current Dollars":"State"
        }, 
        axis=1, 
        # inplace=True
        ).dropna()

    data = pd.melt(data, id_vars=["State", "1-Year % Change", "5-Year % Change"], var_name="Year", value_name="Tuition")
    data = data.sort_values(by=["State", "Year"]).reset_index(drop=True)
    relevant = pd.DataFrame(data.groupby(["State"])["Tuition"].mean(""))
    return relevant

In [339]:
relevant_four_year = get_data_ready(df_four_years)
relevant_two_year = get_data_ready(df_two_years)

In [340]:
relevant_salary = df_salary.iloc[:, 1:].groupby(["state_name"]).mean().reset_index()
relevant_salary.rename({
    "state_name":"State"
}, axis=1, inplace=True)
relevant_salary['State'] = relevant_salary['State'].apply(lambda x: x.replace("-", " "))
# relevant_salary

In [341]:
for i in relevant_salary.State:
    if i not in relevant_two_year.index:
        print(i)

Alaska

In [342]:
# # merge data
# df_list = [relevant_salary, relevant_four_year, relevant_two_year]
# merged_df = df_list[0]
# for df in df_list:
#     merged_df = pd.merge(right=merged_df, left=df, on="State")
# merged_df

merged_df = pd.merge(right=relevant_two_year, left=relevant_four_year, on="State", suffixes=["-four years", "-two years"]).reset_index()
df = pd.merge(right=merged_df, left=relevant_salary, on="State")

In [ ]:
# x and y given as array_like objects
import plotly.express as px
fig = px.scatter()
fig.show()